<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wingBeatAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>ftf_FoodFly_</string>
		<key>delay</key>
		<string>0.1</string>
		<key>animationFrames</key>
		<string>1,2,3,3,2,1</string>
	</dict>
</dict>
</plist>
