<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cloud_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>Cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{219,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,99}}</string>
                <key>sourceSize</key>
                <string>{219,99}</string>
            </dict>
            <key>Cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{196,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,85}}</string>
                <key>sourceSize</key>
                <string>{196,85}</string>
            </dict>
            <key>Cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{233,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,83}}</string>
                <key>sourceSize</key>
                <string>{233,83}</string>
            </dict>
            <key>Foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{67,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,30}}</string>
                <key>sourceSize</key>
                <string>{67,30}</string>
            </dict>
            <key>Torso.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>bubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>bubble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>bubble_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>bubble_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>flick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>flick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>flick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>flick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>flick_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>flick_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,263},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>flick_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,263},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>flick_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,263},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>ftf_Bee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,263},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>ftf_Bee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,263},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>ftf_Bee_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,263},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>ftf_FoodFly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,263},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>ftf_FoodFly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,263},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>ftf_FoodFly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>sting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>sting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,423},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>sting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,423},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>sting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,423},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>sting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,423},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>sting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,423},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>sting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,423},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>sting_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>sting_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,583},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameAtlas-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:169af18877453b3e41d199e68e8970a7$</string>
            <key>textureFileName</key>
            <string>gameAtlas-hd.png</string>
        </dict>
    </dict>
</plist>
