<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,30}}</string>
                <key>sourceSize</key>
                <string>{67,30}</string>
            </dict>
            <key>Torso.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameAtlas-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e8f652174bd8a8f45b8a0cee758381a$</string>
            <key>textureFileName</key>
            <string>gameAtlas-hd.png</string>
        </dict>
    </dict>
</plist>
